body { margin: 0; }

.app { width: 90%; max-width: 700px; background-color: #fff; padding: 20px; box-shadow: 2px 2px 5px #444; margin: 20px auto; }

input { margin: 0 3px; padding: 5px; }

.contactsList { padding-left: 0; margin-bottom: 0; }

.contactItem { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; background-color: #E8EAF7; margin: 5px 0; }

.contactImage { width: 95px; padding: 5px; }

.contactInfo { margin-left: 10px; }
